template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "ExpirationLogicAppName": {
            "defaultValue": "kv-expiration-logger-app",
            "type": "String"
        },
        "TargetKeyVault": {
            "defaultValue": "target-key-vault",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('ExpirationLogicAppName')]",
            "location": "centralus",
            "identity": {
                "principalId": "00858b1f-0737-43f6-96b2-97aa526af8a1",
                "tenantId": "400cec0d-d875-4f01-95e2-cbcb9b66f7a8",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Hour",
                                "interval": 12
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON')?['value']",
                            "actions": {
                                "POST_metrics_to_Application_Insights": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "data": {
                                                "baseData": {
                                                    "metrics": [
                                                        {
                                                            "count": 1,
                                                            "name": "MinsUntilSecretExpiration",
                                                            "value": "@div(sub(ticks(addToTime('1970-01-01', items('For_each')?['attributes']?['exp'],'second')), ticks(utcNow())),600000000)"
                                                        }
                                                    ],
                                                    "properties": {
                                                        "secretId": "@{items('For_each')?['id']}"
                                                    }
                                                },
                                                "baseType": "MetricData"
                                            },
                                            "iKey": "0ca96b5d-eb26-4b16-bc41-fc635e5ffef3",
                                            "name": "MetricData",
                                            "time": "@{utcNow()}"
                                        },
                                        "method": "POST",
                                        "uri": "https://dc.services.visualstudio.com/v2/track"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "description": "Post the time (in mins) for each secret expiration to application insights as a metric event "
                        },
                        "HTTP": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://vault.azure.net",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://[parameters('TargetKeyVault')].vault.azure.net/secrets?api-version=7.0"
                            },
                            "description": "List the secrets from key vault."
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "nextLink": {},
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "attributes": {
                                                        "properties": {
                                                            "created": {
                                                                "type": "integer"
                                                            },
                                                            "enabled": {
                                                                "type": "boolean"
                                                            },
                                                            "exp": {
                                                                "type": "integer"
                                                            },
                                                            "recoveryLevel": {
                                                                "type": "string"
                                                            },
                                                            "updated": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "attributes"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "description": "Parse the JSON containing the list of secrets."
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}
